.gradientText {
  background-image: linear-gradient(
    -225deg,
    #30594b,
    #2d5346 17%,
    #3c6a59 33%,
    #58917a 50%,
    #73ba9a 66%,
    #8adcb7 83%,
    #99f2c8
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
}

.gradientAni {
  animation: bg-gradient 3s linear infinite;
}

@keyframes bg-gradient {
  100% {
    background-position: 200%;
  }
}
